@import "variables";

body {
  background-color: green;
}

h1 {
  text-align: center;
  margin: 20px;
  font-family: $heading-font;
}

main {
  margin: 20px;
  font-family: $body-font;
}

.row {
  display: flex;
  flex-direction: column;
}
