@import "variables";

body {
  background-image: url("../../images/background-1877291_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  margin: 20px;
  font-family: $heading-font;
}

main {
  margin: 20px;
  font-family: $body-font;
}

ul {
  text-align: center;
}

a,
p {
  font-family: $body-font;
}

a:hover {
  text-decoration: none;
}
