@import "variables";

.errorMsg {
  margin: 0 auto;

  &__title {
    color: red;

    &--text {
      color: green;
    }
  }
}

.spinner {
  display: block;
  margin: 350px auto;
}

.card {
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);

  &:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 226px;
  }

  &__img {
    width: auto;
    height: 150px;
    margin: 20px auto;
  }
  &__title {
    list-style-type: none;
  }
  &__btn {
    background-color: $colorLightBlue;

    &:hover {
      background-color: $colorDarkBlue;
    }
  }
}

.nav {
  justify-content: center;
}

.figure {
  text-align: center;
}

.figure__img {
  margin: 30px auto;
  display: block;
}
